In [8]:
import pyodbc 
import pandas as pd

conn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                        "Server=10.2.2.3; Database=SAT;"
                        "uid=sa; pwd=*sqlsat2009nochange*")

df = pd.read_sql_query('select TOP 5 NomeFoto from RatFotoSmartphone', conn)

In [10]:
df

pandas.core.frame.DataFrame